<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="input_file" value="C:/Users/Israr/source/repos/Assignment3/Assignment3/Tasks.xml" />
      <add key="output_file" value="C:/Users/Israr/source/repos/Assignment3/Assignment3/Output.xml" />
    </appSettings>

</configuration>